/*COLORS*/
body.sio-video {
    --sio-red: #932727;
    overflow-y: hidden !important;
    overflow-x: hidden !important;


    /* LAYOUT */
    #columns {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        padding: 14vh 3rem;
        box-sizing: border-box;

        max-width: initial !important;
    }

    #primary {
        max-width: initial !important;
        box-sizing: border-box;
        padding: 0 !important;
        margin: 0 !important;
    }

    #primary-inner {
        display: flex;
        height: 100%;
        align-items: stretch;
    }

    .ytplayer {
        order: 2;
        flex: 3;
        margin: 0 2rem;
    }

    #meta {
        order: 1;
        flex: 0.9;
    }

    #comments {
        order: 3;
        flex: 1;
        padding-right: 1rem;
    }

    #secondary {
        display: none;
    }

    #page-manager {
        margin: 0 !important;
    }

    /* TOP BAR */
    #masthead-container {
        background: none !important;
    }

    #masthead {
        background: none !important;

        & > #container > #center {
            display: none;
        }

        & > #container > #end {
            display: none;
        }
    }

    yt-icon-button#guide-button {
        display: none;
    }


    /* VIDEO */
    .ytplayer-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }

    .ytplayer-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* COMMENTS */
    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: #3e3e3e;
    }

    ::-webkit-scrollbar-thumb {
        background: #cbcbcb;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }

    ytd-item-section-renderer > #header {
        display: none;
    }

    ytd-item-section-renderer > #contents {
        height: 100%;
    }

    ytd-comments {
        overflow-y: auto;
        height: auto;
    }

    #action-buttons, #author-thumbnail {
        display: none;
    }

    ytd-comment-replies-renderer {
        left: 0;
        margin-left: 0 !important;
    }

    yt-formatted-string.published-time-text.above-comment {
        display: none;
    }

    tp-yt-paper-button > yt-icon {
        display: none;
    }

    tp-yt-paper-button > yt-formatted-string {
        margin-left: 0 !important;
    }

    #expander > #expander-contents {
        margin-left: 3rem;
    }

    ytd-comment-replies-renderer yt-formatted-string#text {
        color: var(--sio-red);
    }

    /* META INFO */
    ytd-video-owner-renderer.style-scope.ytd-video-secondary-info-renderer > a {
        display: none;
    }

    #top-row {
        border-top: 2px solid var(--sio-red);
        border-bottom: 2px solid var(--sio-red);
        padding: 1rem 0;
        margin: 0;
    }

    #owner-sub-count {
        display: none;
    }

    ytd-expander {
        margin-left: 0 !important;
    }

    ytd-subscribe-button-renderer > tp-yt-paper-button {
        background: var(--sio-red) !important;
        color: white !important;
        border-radius: 1rem !important;
    }

    /* INFO */
    #container > #info > #info-text {
        display: none;
    }

    h1.title.style-scope.ytd-video-primary-info-renderer {
        display: inline-block;
        margin: 0 !important;
    }

    #container > #info > #flex {
        display: none;
    }

    #container > #info {
        display: inline-block;
        float: right;
    }

    ytd-button-renderer.force-icon-button {
        display: none;
    }

    ytd-sentiment-bar-renderer#sentiment {
        display: none;
    }

    yt-icon-button#button {
        display: none;
    }

    yt-formatted-string.super-title {
        display: none;
    }

    #meta-contents {
        height: 100%;
    }

    ytd-video-secondary-info-renderer {
        height: 100%;
    }

    ytd-video-secondary-info-renderer > #container {
        display: flex;
        flex-flow: column;
        height: 100%;

        & > #top-row {
            flex: 0 1 auto;
            margin-bottom: 2rem;
        }

        & > ytd-expander {
            flex: 1 1 auto;
            overflow-x: hidden;
            overflow-y: auto;
            padding-right: 1rem;
        }

        & ytd-rich-metadata-renderer {
            display: none;
        }
    }

    #meta-contents > ytd-video-secondary-info-renderer {
        border-bottom: none !important;
    }

}


